body {
  margin: 0;
  font-family: Arial;
  background: #0B0B0B;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.5);
}

.nav-links a {
  margin: 0 10px;
  color: #aaa;
}

.nav-actions button {
  margin-left: 10px;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: #FF6A00;
}

/* BUTTON */
button {
  background: #FF6A00;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 15px;
}

.card {
  background: #141414;
  padding: 20px;
  border-radius: 10px;
}

.highlight {
  border: 1px solid #FF6A00;
}

.container {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.center {
  text-align: center;
}

.orange {
  color: #FF6A00;
}

.note {
  color: #777;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  top: 0;
}

.modal-box {
  background: #111;
  padding: 20px;
  margin: 100px auto;
  width: 300px;
}

/* RESPONSIVE */
@media(max-width:600px){
  .nav-links {
    display: none;
  }
}
